<h1><%= @question.ask %></h1>

<br>
<h3>Answers</h3>
  <% @question.bestFirst.each do |response| %>
    <div class="well">
      <p><b>User <%= response.user.email %> says:</b></p>
      <p><%= response.answer %></p>
    </div>
  <% end %>


<%= form_for [@question, @response], class:"form-horizontal" do |f| %>
  <%= f.label :answer, class:"form-label" %>
  <%= f.text_field :answer, class:"form-control" %>
<br>
  <%= f.submit "AnswerIT", class: ['btn-warning', 'btn'] %>
<% end %>
